@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Tagbanwa&display=swap");

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.slide-in {
  animation: slideInFromLeft 0.3s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

body {
  font-family: "Noto Sans Tagbanwa", sans-serif !important;
  font-weight: 400 !important;
  font-style: normal;
  font-size: 12px;
  line-height: 1;
  color: #bf9b30 !important;
}
